* {
    margin: 0px;
}
body {
    background-color: #DDDDDD;
	color: #707070;
	font-family: helvetica neue;
	font-size: 10px;
}
nav{
    background-color: #383838;
    min-height: 70px;
    box-shadow: 0px 3px 6px;
}
nav > p {
    display: none;
}
.profilepicmenu {
    border-radius: 50%;
    float: right;
    width: 50px;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pijl {
    width: 25px;
}
nav > a{
    position: absolute;
    margin-top: 25px;
    margin-left: 40%;
    color: white;
}
.logo {
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}
main > h1 {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 24px;
}
.container {
    display: grid;
    grid-template-areas: 
        "plaatsnaam"
        "maps"
        "preview"
        "weeradvies"
        "weerbericht";
    margin: 5%;
    margin-top: 2%;
    grid-row-gap: 15px;
}
.plaatsnaam, .maps, .preview, .weeradvies, .weerbericht {
    background-color: white;
    padding: 5%;
}
.plaatsnaam{
    grid-area: plaatsnaam;
    background-color: transparent;
    padding-left: 0%;
}
#plaatsnaam {
    font-size: 18px;
    font-weight: bold;
}
#onderregel, #plaats {
    font-size: 15px;
}
.maps{
    grid-area: maps;
    background-color: white;
    padding: 0%;
}
#herlaadpagina{
    margin-top: 20px;
}
#btn-reload {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    background-color: #383838;
    color: white;
}
#btn-reload:hover {
    font-weight: normal;
}
.contbtn{
   padding: 5%;
   display: grid;
   grid-template-areas: 
       "btn-zoek";
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.btn-zoek{
    grid-area: btn-zoek;
    padding: 7px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #383838;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.btn-zoek:hover {
    font-weight: normal;
}
.preview{
    grid-area: preview;
    background-color: white;
    padding: 0%;
}
.weerbericht{
    grid-area: weerbericht;
    background-color: white;
}
#maps {
	width: 100%;
	height: 250px;
}
#maps > img {
    display: none;
}
#preview{
    width: 100%;
    height: 250px;
}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
#weerbericht {
	width: 100%;
	overflow: hidden;
}
#weerbericht > .forecastMoment {
	float: left;
	width: 50%;
	padding-top: 4px;
	padding-bottom: 20px;
	text-align: center;
    background-color: white;
    box-shadow: 3px 3px 20px -5px rgba(138,138,138,1);
	color: #444;
	font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}
.icon > img {
    width: 30%;
}
.temp {
	font-weight: bold;
	color: #008000;
	font-size: 1.3em;
}
.hidden {
	display: none;
}
#conclusie {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}
.weeradvies > h2 {
    font-size: 22px;
    margin-bottom: 10px;
}
#weeradvies, #weeradvies2{
    font-size: 13px;
}




@media only screen and (max-width: 899px) and (min-width: 550px) {
    .container {
    display: grid;
    grid-template-areas: 
        "plaatsnaam plaatsnaam"
        "maps preview"
        "weeradvies weeradvies"
        "weerbericht weerbericht";
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3%;
    grid-column-gap: 3%;
    }
    #preview {
        height: 100%;
    }
    .weeradvies {
        width: 196%;
    }
    .plaatsnaam{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    nav > a{
        margin-left: 50%;
    }
    #weerbericht > .forecastMoment {
	float: left;
	width: 25%;
	padding-top: 4px;
	padding-bottom: 20px;
	text-align: center;
    background-color: white;
	color: #444;
	font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    } 
}


    
    
@media only screen and (max-width: 1313px) and (min-width: 900px) {
    .container {
        display: grid;
        grid-template-areas: 
            "plaatsnaam plaatsnaam"
            "maps preview"
            "weeradvies weerbericht";
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 25px;
        grid-column-gap: 25px;
    }
    #preview {
        height: 100%;
    }
    .plaatsnaam{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    nav > a{
        margin-left: 61%;
    } 
}    



@media only screen and (min-width: 1314px) {
    .container {
        display: grid;
        grid-template-areas: 
            "plaatsnaam plaatsnaam plaatsnaam"
            "maps maps preview"
            "weeradvies weerbericht weerbericht";
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 25px;
        grid-column-gap: 25px;
    }
    #preview {
        height: 100%;
    }
    .plaatsnaam{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    nav > a{
        margin-left: 66%;
    }
    #weerbericht > .forecastMoment {
	float: left;
	width: 25%;
	padding-top: 4px;
	padding-bottom: 20px;
	text-align: center;
    background-color: white;
	color: #444;
	font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 20px -5px rgba(138,138,138,1);
    }  
}